<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.kps.sys.dao.AlmParmBillExpendMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.kps.bill.domain.AlmParmBillExpend">
                    <id column="PBEX_ID" property="pbexId" />
                    <result column="PBEX_NAME" property="pbexName" />
                    <result column="PBIL_LIMIT_COUNT" property="pbilLimitCount" />
                    <result column="MAIN_SPECIALID" property="mainSpecialid" />
                    <result column="SPECIALID" property="specialid" />
                    <result column="FAULTTYPEID" property="faulttypeid" />
                    <result column="BILL_PRIORITY" property="billPriority" />
                    <result column="ALARM_CONTENT" property="alarmContent" />
                    <result column="ALARM_OBJ_NAME" property="alarmObjName" />
                    <result column="ALARM_INDEX_NAME" property="alarmIndexName" />
                    <result column="ALARM_CITY" property="alarmCity" />
                    <result column="BILL_AREA_ID" property="billAreaId" />
                    <result column="NET_NAME" property="netName" />
                    <result column="TRADER_INFO" property="traderInfo" />
                    <result column="FAULT_ACTUAL" property="faultActual" />
                    <result column="FAULT_INFO" property="faultInfo" />
                    <result column="TITLE" property="title" />
                    <result column="FAULT_SRC_ID" property="faultSrcId" />
                    <result column="ALARM_TYPE" property="alarmType" />
                    <result column="SPOFFICE" property="spoffice" />
                    <result column="CONTROL_PERMISSIONS" property="controlPermissions" />
                    <result column="PBEX_ID_FK" property="pbexIdFk" />
                    <result column="PBIL_MERGE_LABEL" property="pbilMergeLabel" />
                    <result column="BILL_AREA_CODE" property="billAreaCode" />
                    <result column="BILL_TYPE" property="billType" />
        </resultMap>

</mapper>
